*{
  font-family: Futura, Verdana, Candara,Helvetica,Sans-serif;
}
.header{
  padding: 30px;
  background:#001f3f;
}
h1{
  font-size:40px;
}
body{
  color:black;
  padding:0px;
  margin:0px;
}
.info{
  font-size:30px;
  padding:20px;
}
.header-button{
  padding:10px;
  background:#001f3f;
  color:white;
  margin:20px;
  /*border-color:#001f3f;*/
  /*border:0px;*/ 
  border-width:0px 0px 0px 1px;
}
.main-header{
  text-align:center;
  color:white;
}
.project-details{
  /*text-align: center;*/ 
  margin:auto;
  background-color: #D3D3D3;
  width: 400px;
  height: 350px;
  /*width: 200px;*/
  border: solid;
  box-sizing: border-box;
  /*padding-left: 50%;*/ 
}
.box{
  padding: 40px;
}
.project-image{
  width:300px;
  height:200px;
  padding:20px;
}

.project-type{
  text-align: center;
  margin:auto;
  color:#2F4F4F ;/*Grey*/
  width:650px;
  border-bottom: 1px solid;
  padding-bottom: :1px;
  padding-top: 20px;
}
.hovered{
  color:#A9A9A9;
}
.more-info{
  text-decoration: underline;
 }
 .project-tiles{
   width:250px;
   height:200px;
   padding:20px;
 }
 
