*{
  font-family: Raleway,Futura, Verdana, Candara,Helvetica,Sans-serif;
  /*font-family: Serif;*/
}
.header{
  padding: 30px;
  background:#001f3f;
  color:white;
}
header{
  padding-bottom: 100px;
}
.heading{
  /*font-weight: bolder;*/
}
.profile-pic{
  width:230px;
  height:200px;
  float:left;
  padding-right:5px;
}

h1{
  font-size:40px;
}
body{
  color:black;
  padding:0px;
  margin:0px;
  overflow-x: hidden;
}
.info{
  font-size:30px;
  padding:20px;
  overflow-wrap: break-word;
  display: inline-block;
}
@media (max-width: 768px) {
.info{
  font-size:15px;
  overflow-wrap: normal;
  /*text-align: center;*/
}
.profile-pic{
  float: none;
  display: block;
  margin:auto;
  }
}
.header-button{
  padding:10px;
  background:#001f3f;
  color:white;
  margin:20px;
  border-width:0px 0px 0px 1px;
}
.main-header{
  text-align:center;
  color:white;
}
/*Projects page styling*/ 
.project-details{
  margin:auto;
  background-color: #D3D3D3;
  width: 400px;
  height: 350px;
  border: solid;
  /*border-width: 1px;*/
  border-width: thin;
  box-sizing: border-box;
}
.box{
  padding: 40px;
}
.project-image{
  width:300px;
  height:200px;
  padding:20px;
}

.project-type{
  text-align: center;
  margin:auto;
  color:#2F4F4F ;/*Grey*/
  width:650px;
  border-bottom: 1px solid;
  padding-bottom: :1px;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .project-details{
    margin:auto;
    background-color: #D3D3D3;
    width: 300px;
    height: 250px;
    border: solid;
    box-sizing: border-box;
  }
  .project-image{
    width:150px;
    height:100px;
    padding:5px;
  }
  .project-header{
    font-size:20px;
  }
  .project-type{
    text-align: center;
    margin:auto;
    color:#2F4F4F ;/*Grey*/
    width:300px;
    border-bottom: 1px solid;
    padding-bottom: :1px;
    padding-top: 20px;
  }
  .box{
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/*Project's page END*/ 

.hovered{
  color:#A9A9A9;
}
.more-info{
  text-decoration: underline;
}
.project-tiles{
 width:250px;
 height:200px;
 padding:20px;
}

/* Navbar styling*/
/*.navbar-custom {
  border-color: #229922;
}
.navbar-brand{
  color:white;
  font-size:180%;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}

.navbar-custom .navbar-nav > .active > a {
  color: black;
  background-color:white;
}
.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
  text-decoration: none;
  background-color: white;
  color:black;
}
.navbar-custom .navbar-brand {
  color:#eeeeee;
}
.navbar-custom .navbar-toggle {
  background-color:#001f3f;
}
.navbar-custom .icon-bar {
  background-color:white;
} */



.navbar-custom {
  /*border-color: #229922;*/
}
.navbar-brand{
  color:white;
  font-size:180%;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}
.navbar-custom {
  /*background-color:#229922;*/
  color:#ffffff;
  border-radius:0;
}
.navbar-custom .navbar-nav > .active > a {
  color: black;
  background-color:white;
}
.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
  text-decoration: none;
  background-color: white;
  color:black;
}
.navbar-custom .navbar-brand {
  color:#eeeeee;
}
.navbar-custom .navbar-toggle {
  background-color:#001f3f;
}
.navbar-custom .icon-bar {
  background-color:white;
} 

/*Footer styling*/ 
footer{
  background-color: #F7BE05;
  padding: 50px;
}
.footer{
  padding-right: 20px;
}
.fa-footer{
  color:black;
}
.footer-hover{
  color:blue;
}
@media (max-width: 768px) {
  footer{
    text-align: center;
    position: relative;
    float: center;
    text-align: center;
  }
  .footer-right{
    text-align: center !important;

  }
}
.footer-right{
  position: relative;
  float: right;
  text-align: right; 
}
/*FOOTER END*/ 

/*Tile styling*/
.outer-tile{
  border:solid;
  border-width:1px;
  width:207px;
  padding:2px;
  border-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tile{
  border: solid;
  box-sizing: border-box;
  width:200px;
  border-width:1px;
  text-align: center;
  /*background-color: #FCE00C;
  border-color: #FCE00C; Original colors*/
  background-color: #262658;
  color:#FCE00C;
}
.class-tile{
border: solid;
  box-sizing: border-box;
  width:200px;
  border-width:1px;
  text-align: center;
  background-color: #262658;
  /*border-color: #365C9E; Original background color*/
  color:#FCE00C;
}
.border-tile{
  padding-top:20px;
  padding-bottom: 20px;
}
.skill-tile{
  padding: 70px;
}
@media (max-width: 768px) {
.outer-tile{
  border:solid;
  border-width:1px;
  width:207px;
  padding:2px;
  border-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin:auto;
}
  }
  /*.skills{
    background-color: #D3D3D3;
    padding: 0px;
  }*/
  /*End border styling*/ 
